<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title escarapela
  link(rel="stylesheet", href="css/style.css")
body
  .escarapela
    .escarapela-box
      .escarapela-boxi
        .escarapela-boxii
  